@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    box-sizing: border-box; 
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

h1 span{
    border-bottom: solid #fa3d3d 1px;
}




body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #fff;
}

.topo{
    text-align: center;
    padding: 32px;
}

.linha{
    display: flex; 
    flex-wrap: wrap;
    padding: 0 4px;
}

.coluna{
    flex: 25%; 
    max-width: 25%;
    padding: 0 4px;
}

.coluna img{
    opacity: 0.9;
    margin-top: 8px;
    vertical-align: middle;
    
}

.coluna img:hover{
    opacity: 1;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transition-duration: 0.5s;
}

@media (max-width: 800px) {
      .coluna {
        flex: 50%;
        max-width: 50%;         
      }
}

@media (max-width: 480px) {
    .coluna {
        flex: 100%;
        max-width: 100%;         
      }
}